.about {
  padding-top: 120px;

  &__wrap {
    @extend %grid;
    color: map-get($colors_PixelStudio, headerBackgroundColor);

    &__heading {
      grid-area: 3 / 1 / 4 / 7;

      &__title {
        margin: 20px 0 20px 0;
      }

      &__flex {
        margin-top: 21px;
        display: flex;
      }

      &__letter {
        @include font(50px, "LucidaGrande", 59px, normal);
        margin-right: 7px;
      }

      &--after {
        margin-top: -5px;
        margin-bottom: 40px;
      }

      &__listItem {
        margin: 0 0 15px 25px;

        &:before {
          @extend %pseudo-element;
          @include size(15px, 15px);
          background: url('../img/a-icon-checklist@2x.png') 0 0/53% 38% no-repeat;
          margin: 9px 0 0 -25px;
          padding: 15px;
        }
      }
    }

    &__text {
      grid-area: 1 / 1 / 3 / 7;

      &__first {
        margin-bottom: 40px;
      }

      &--red {
        color: map-get($colors_PixelStudio, logoColor);
        font-family: "Lato-Bold";
      }

      &__quote {
        padding: 40px 60px 20px 57px;
        @extend %reletive;
        margin-top: 30px;

        &:before {
          @extend %pseudo-element;
          @include size(30px, 30px);
          margin: -20px 0 0 -31px;
          background: url('../img/a-icon-quote@3x.svg') no-repeat;
        }

        &--red {
          border-left: 3px solid map-get($colors_PixelStudio, quoteRed);
        }

        &--blue {
          border-left: 3px solid map-get($colors_PixelStudio, quoteBlue);
        }

        &--green {
          border-left: 3px solid map-get($colors_PixelStudio, quoteGreen);
        }
      }
    }

    &__list {
      grid-area: 2 / 8 / 4 / 10;

      &__title {
        margin-bottom: 19.5px;
      }

      &__item {
        border-bottom: 1px dashed map-get($colors_PixelStudio, navItemHoverColor);
        padding: 5px 5px 7px 29px;
        margin-bottom: 24px;

        p:before {
          @extend %pseudo-element;
          @include size(15px, 15px);
          background: url('../img/a-icon-arrowlink-2@2x.png') 0 0/27% 45% no-repeat;
          padding: 15px;
          margin: 7px 0 0 -28px;
        }

        p:hover {
          color: map-get($colors_PixelStudio, logoColor);
          cursor: url("../img/hand-cursor-transparent-black.svg"), pointer;
          fill: map-get($colors_PixelStudio, headerBackgroundColor);
        }
      }
    }

    &__flickr {
      grid-area: 1 / 8 / 1 / 13;

      &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        margin: 25px 0 30px 0;
      }

      &__item {
        @include size(auto, 100%);
        grid-column: span 1;
        border: 1px solid map-get($colors_PixelStudio, navItemHoverColor);
        padding: 12px;
      }
    }
  }
}
