.contact {
  padding-top: 105px;

  &__wrap {
    @extend %grid;
  }

  &__info {
    grid-column: var(--gridRight);

    &__text {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    &__item {
      @extend %reletive;
      display: flex;
      margin-bottom: 43px;

      &_home:before {
        @extend %beforeInfo;
        background: url("../img/a-icon-address@2x.png") left/24px auto no-repeat;
      }

      &_phone:before {
        @extend %beforeInfo;
        background: url("../img/a-icon-phone@2x.png") left/24px auto no-repeat;
      }

      &_email:before {
        @extend %beforeInfo;
        background: url("../img/a-icon-email@2x.png") left/24px auto no-repeat;
      }

      &__text {
        padding: 0 19px 0 20px;
        line-height: 15px;

        &_phone:hover {
          color: #CF5858;
          cursor: url("../img/hand-cursor-transparent-black.svg"), pointer;
        }

        &:first-child {
          padding-left: 38px;
        }

        &:nth-child(2) {
          border-left: 1px solid #CEC7C7;
          border-right: 1px solid #CEC7C7;
        }
      }
    }
  }

  &__form {
    grid-column: var(--gridLeft);

    &__wrap {
      @include custom-grid(6);
      margin-top: 40px;
    }

    &__button {
      margin-top: 1px;
      padding: 12px 81px;
      @include backgroundBorder(map-get($colors_PixelStudio, logoColor), map-get($colors_PixelStudio, logoColor));
      color: map-get($colors_PixelStudio, navItemColor);

      &:hover,
      &:focus {
        @include backgroundBorder(map-get($colors_PixelStudio, h4Color), map-get($colors_PixelStudio, h4Color));
        cursor: url("../img/hand-cursor-transparent.svg"), pointer;
      }

      &:active {
        @include backgroundBorder(map-get($colors_PixelStudio, activeButton), map-get($colors_PixelStudio, activeButton));
      }
    }

    &__item {
      grid-column: span 3;
      margin-bottom: 5px;

      &--big {
        grid-column: var(--gridLeft);
      }

      &--little {
        grid-column: span 2;
      }

      &__input {
        width: 100%;
        @include backgroundBorder(map-get($colors_PixelStudio, navItemColor), map-get($colors_PixelStudio, input));
        color: map-get($colors_PixelStudio, input);
        padding: 12px 14px;

        &:hover::placeholder {
          color: map-get($colors_PixelStudio, inputHoverPlaceholder);
        }

        &:hover {
          border: 1px solid map-get($colors_PixelStudio, inputHover);
        }

        &:focus::placeholder {
          color: map-get($colors_PixelStudio, headerBackgroundColor);
        }

        &:focus {
          color: map-get($colors_PixelStudio, headerBackgroundColor);
          border: 1px solid map-get($colors_PixelStudio, headerBackgroundColor);
        }

        &--big {
          resize: none;
          overflow: auto;
          margin-top: 6px;
          height: 130px;
        }
      }

      &__label {
        display: block;
        margin-bottom: 10px;
      }
    }

    &__checkbox {
      grid-column: var(--gridLeft);

      &__wrap {
        display: flex;
        margin-top: 3px;
      }

      &__input {
        display: none;

        &:hover + label:before, &:focus + label:before,
        &:checked + label:before {
          @extend %checklist;
        }

        &:checked + label:before {
          filter: brightness(0.4);
        }
      }

      &__label {
        @extend %reletive;
        padding-left: 35px;

        &:before {
          @extend %checkBox;
          background-color: map-get($colors_PixelStudio, navItemColor);
        }

        &:after {
          @extend %checkBox;
          @include backgroundBorder(transparent, map-get($colors_PixelStudio, input));
        }
      }
    }

    &__radio {
      grid-column: var(--gridLeft);

      &__title {
        margin-bottom: 21px;
      }

      &__item {
        display: flex;
        color: map-get($colors_PixelStudio, headerBackgroundColor);
        margin-bottom: 22px;

        &:last-child {
          margin-bottom: 0;
        }

        &__input {
          position: absolute;
          opacity: 0;

          &:hover + label:after,
          &:focus + label:after {
            @extend %radioButtons;
            background-color: map-get($colors_PixelStudio, radioButton);
          }

          &:checked + label:after,
          &:active + label:after, {
            @extend %radioButtons;
            background-color: map-get($colors_PixelStudio, headerBackgroundColor);
          }
        }

        &__label {
          @extend %reletive;
          padding-left: 39px;

          &:before {
            @include size(24px, 24px);
            @extend %pseudo-element;
            left: 0;
            border: 1px solid map-get($colors_PixelStudio, input);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
