.welcome {
  padding-top: 120px;
  margin-top: -60px;
  overflow: hidden;

  &__points {
    margin-top: 80px;
    @extend %grid;

    &__point {
      grid-column: span 4;
      color: map-get($colors_PixelStudio, headerBackgroundColor);
      @include custom-grid(4);

      &__header {
        grid-column: span 3;
        position: relative;
        padding-left: 55px;

        &--present {
          @include pointHeader(55px, 0, "../img/a-icon-presentations@2x.png", 35px);
        }

        &--target {
          @include pointHeader(55px, -2.5px, "../img/a-icon-target@2x.png", 35px);
        }

        &--resume {
          @include pointHeader(47px, 0, "../img/a-icon-resume@2x.png", 37px);
        }
      }

      &__text {
        grid-column: span 3;
        margin-top: 6.5px;
      }
    }
  }

  &__block {
    @extend %grid;

    &__textWrap {
      color: map-get($colors_PixelStudio, headerBackgroundColor);
      grid-column: var(--gridLeft);

      &__header {
        margin-bottom: 19.5px;
      }

      &__text {
        margin-top: 15px;
      }
    }

    &__imgWrap {
      grid-column: var(--gridRight);
      @extend %reletive;
      overflow: hidden;

      &__up {
        position: absolute;
        z-index: 10;
        top: 47%;
        @include size(50%, 100%);

        &__textWrap {
          @extend %flexSpaceBetween;
          margin: 21.9% 25px 0 25px;

          &__text {
            color: map-get($colors_PixelStudio, navItemColor);
          }
        }

        &__arrowWrap {
          display: flex;
          @extend %flexSpaceBetween;
          margin: 0 34px;

          &__arrow {
            &:hover, &:focus {
              cursor: url("../img/hand-cursor-transparent.svg"), pointer;
            }
          }
        }
      }
    }
  }
}
