@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-LightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'LucidaGrande';
  src: url("../fonts/lucidagrande.ttf");
  font-display: swap;
}
