.h1 {
  @include font(50px, "Lato-Bold", 60px, bold);
  color: map-get($colors_PixelStudio, headerBackgroundColor);
}

.h2 {
  @include font(30px, "Lato-Regular", 36px, normal);
  color: map-get($colors_PixelStudio, headerBackgroundColor);
}

.h3 {
  @include font(25px, "Lato-Regular", 30px, normal);
  color: map-get($colors_PixelStudio, headerBackgroundColor);
}

.h4 {
  &--normal {
    @include font(18px, "Lato-Regular", 22px, normal);
    color: map-get($colors_PixelStudio, headerBackgroundColor);
  }

  &--strong {
    @include font(18px, "Lato-Bold", 22px, bold);
    color: map-get($colors_PixelStudio, headerBackgroundColor);
  }

  &--strongColor {
    @include font(18px, "Lato-Bold", 22px, bold);
    color: map-get($colors_PixelStudio, h4Color);
  }

  &--color {
    margin-left: 2px;
    @include font(18px, "Lato-Regular", 15px, normal);
    color: map-get($colors_PixelStudio, logoColor);

    &:hover {
      color: map-get($colors_PixelStudio, h4Color);
      cursor: url("../img/hand-cursor-transparent-black.svg"), pointer;
    }
  }

  &--lusida {
    @include font(18px, "LucidaGrande", 22px, normal);
    color: map-get($colors_PixelStudio, headerBackgroundColor);
  }
}

.p {
  @include font(18px, "Lato-Regular", 27px, normal);
  color: map-get($colors_PixelStudio, headerBackgroundColor);

  &--light {
    font-family: "Lato-Light";
    background-color: map-get($colors_PixelStudio, navItemColor);
  }
}

.a {
  @include font(18px, "Lato-Regular", 22px, normal);
  color: map-get($colors_PixelStudio, navItemColor);

  &:hover,
  &:focus{
    color: map-get($colors_PixelStudio, navItemHoverColor);
  }

  &--white:hover {
    cursor: url("../img/hand-cursor-transparent.svg"), pointer;
  }
}
