.title {
  margin-bottom: 40px;

  h1 {
    padding-bottom: 10px;

    span {
      margin-left: 10px;
    }
  }

  border-bottom: 1px solid map-get($colors_PixelStudio, navItemHoverColor);
}

body {
  background-color: #FBFBFB;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-top: -20px;
  overflow: hidden;
}

.main {
  @extend %maxWidth;
}

.strong {
  font-family: "Lato-Bold";
}

.cursorWhite:hover {
  cursor: url("../img/hand-cursor-transparent.svg"), pointer;
}
