* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a {
  text-decoration: none;
  cursor: default; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.contact__info__item_home:before, .contact__info__item_phone:before, .contact__info__item_email:before {
  height: 40px;
  width: 40px;
  left: 0;
  top: -14px; }

.contact__form__checkbox__label:before, .contact__form__checkbox__label:after {
  height: 24px;
  width: 24px;
  left: 0;
  top: -1px;
  text-align: center; }

.contact__form__checkbox__input:hover + label:before, .contact__form__checkbox__input:focus + label:before, .contact__form__checkbox__input:checked + label:before {
  background: url("../img/a-icon-checklist@2x.png") center/auto 12px no-repeat;
  content: ''; }

header .wrapHeader, .welcome__block__imgWrap__up__textWrap, .welcome__block__imgWrap__up__arrowWrap {
  display: flex;
  justify-content: space-between; }

.welcome__points, .welcome__block, .about__wrap, .contact__wrap, .footer__wrap {
  display: grid;
  grid-template-columns: repeat(var(--columnGrid), 1fr);
  grid-gap: var(--gapGrid); }

.main, header .wrapHeader, .footer__wrap {
  margin: 0 auto;
  max-width: var(--widthGrid); }

.contact__info__item_home:before, .contact__info__item_phone:before, .contact__info__item_email:before, .contact__form__checkbox__label:before, .contact__form__checkbox__label:after, .contact__form__radio__item__input:hover + label:after, .contact__form__radio__item__input:focus + label:after, .contact__form__radio__item__input:checked + label:after, .contact__form__radio__item__input:active + label:after, .welcome__points__point__header--present:before, .welcome__points__point__header--target:before, .welcome__points__point__header--resume:before, .about__wrap__heading__listItem:before, .about__wrap__text__quote:before, .about__wrap__list__item p:before, .contact__form__radio__item__label:before {
  content: '';
  position: absolute; }

.contact__form__radio__item__input:hover + label:after, .contact__form__radio__item__input:focus + label:after, .contact__form__radio__item__input:checked + label:after, .contact__form__radio__item__input:active + label:after {
  height: 16px;
  width: 16px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  opacity: 1; }

.welcome__block__imgWrap, .about__wrap__text__quote, .contact__info__item, .contact__form__checkbox__label, .contact__form__radio__item__label, .footer__item__link {
  position: relative; }

:root {
  --gridLeft: span 6;
  --gridRight: 8/span 5;
  --widthGrid: 1420px;
  --gapGrid: 20px;
  --columnGrid: 12; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
  font-display: swap; }
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf");
  font-display: swap; }
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-LightItalic.ttf");
  font-display: swap; }
@font-face {
  font-family: 'LucidaGrande';
  src: url("../fonts/lucidagrande.ttf");
  font-display: swap; }
.h1 {
  font-size: 50px;
  font-family: "Lato-Bold";
  line-height: 60px;
  font-weight: bold;
  color: #474747; }

.h2 {
  font-size: 30px;
  font-family: "Lato-Regular";
  line-height: 36px;
  font-weight: normal;
  color: #474747; }

.h3 {
  font-size: 25px;
  font-family: "Lato-Regular";
  line-height: 30px;
  font-weight: normal;
  color: #474747; }

.h4--normal {
  font-size: 18px;
  font-family: "Lato-Regular";
  line-height: 22px;
  font-weight: normal;
  color: #474747; }
.h4--strong {
  font-size: 18px;
  font-family: "Lato-Bold";
  line-height: 22px;
  font-weight: bold;
  color: #474747; }
.h4--strongColor {
  font-size: 18px;
  font-family: "Lato-Bold";
  line-height: 22px;
  font-weight: bold;
  color: #CF5858; }
.h4--color {
  margin-left: 2px;
  font-size: 18px;
  font-family: "Lato-Regular";
  line-height: 15px;
  font-weight: normal;
  color: #EC6767; }
  .h4--color:hover {
    color: #CF5858;
    cursor: url("../img/hand-cursor-transparent-black.svg"), pointer; }
.h4--lusida {
  font-size: 18px;
  font-family: "LucidaGrande";
  line-height: 22px;
  font-weight: normal;
  color: #474747; }

.p {
  font-size: 18px;
  font-family: "Lato-Regular";
  line-height: 27px;
  font-weight: normal;
  color: #474747; }
  .p--light {
    font-family: "Lato-Light";
    background-color: #FFFFFF; }

.a {
  font-size: 18px;
  font-family: "Lato-Regular";
  line-height: 22px;
  font-weight: normal;
  color: #FFFFFF; }
  .a:hover, .a:focus {
    color: #CEC7C7; }
  .a--white:hover {
    cursor: url("../img/hand-cursor-transparent.svg"), pointer; }

.title {
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC7C7; }
  .title h1 {
    padding-bottom: 10px; }
    .title h1 span {
      margin-left: 10px; }

body {
  background-color: #FBFBFB; }

html {
  scroll-behavior: smooth; }

section {
  margin-top: -20px;
  overflow: hidden; }

.strong {
  font-family: "Lato-Bold"; }

.cursorWhite:hover {
  cursor: url("../img/hand-cursor-transparent.svg"), pointer; }

header {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #474747;
  overflow: hidden; }
  header .wrapHeader__logo {
    display: flex; }
    header .wrapHeader__logo__img {
      margin: 17px 20px 17px 0;
      height: 66px;
      width: 66px; }
    header .wrapHeader__logo__title {
      margin-top: 33px;
      color: #EC6767; }
  header .wrapHeader__row {
    align-items: flex-end;
    display: flex;
    margin-right: -10px; }
  header .wrapHeader__item {
    margin: 37px 0 0 25.5px; }
    header .wrapHeader__item__link {
      color: #FFFFFF;
      padding: 10px; }
      header .wrapHeader__item__link:hover, header .wrapHeader__item__link:focus {
        border-bottom: 2px solid #CEC7C7; }
      header .wrapHeader__item__link--active {
        border-bottom: 2px solid #FFFFFF; }

.welcome {
  padding-top: 120px;
  margin-top: -60px;
  overflow: hidden; }
  .welcome__points {
    margin-top: 80px; }
    .welcome__points__point {
      grid-column: span 4;
      color: #474747;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--gapGrid); }
      .welcome__points__point__header {
        grid-column: span 3;
        position: relative;
        padding-left: 55px; }
        .welcome__points__point__header--present {
          padding-left: 55px; }
          .welcome__points__point__header--present:before {
            height: 40px;
            width: 40px;
            left: 0;
            top: -4px;
            background: url("../img/a-icon-presentations@2x.png") center/auto 35px no-repeat; }
        .welcome__points__point__header--target {
          padding-left: 55px; }
          .welcome__points__point__header--target:before {
            height: 40px;
            width: 40px;
            left: -2.5px;
            top: -4px;
            background: url("../img/a-icon-target@2x.png") center/auto 35px no-repeat; }
        .welcome__points__point__header--resume {
          padding-left: 47px; }
          .welcome__points__point__header--resume:before {
            height: 40px;
            width: 40px;
            left: 0;
            top: -4px;
            background: url("../img/a-icon-resume@2x.png") center/auto 37px no-repeat; }
      .welcome__points__point__text {
        grid-column: span 3;
        margin-top: 6.5px; }
  .welcome__block__textWrap {
    color: #474747;
    grid-column: var(--gridLeft); }
    .welcome__block__textWrap__header {
      margin-bottom: 19.5px; }
    .welcome__block__textWrap__text {
      margin-top: 15px; }
  .welcome__block__imgWrap {
    grid-column: var(--gridRight);
    overflow: hidden; }
    .welcome__block__imgWrap__up {
      position: absolute;
      z-index: 10;
      top: 47%;
      height: 50%;
      width: 100%; }
      .welcome__block__imgWrap__up__textWrap {
        margin: 21.9% 25px 0 25px; }
        .welcome__block__imgWrap__up__textWrap__text {
          color: #FFFFFF; }
      .welcome__block__imgWrap__up__arrowWrap {
        display: flex;
        margin: 0 34px; }
        .welcome__block__imgWrap__up__arrowWrap__arrow:hover, .welcome__block__imgWrap__up__arrowWrap__arrow:focus {
          cursor: url("../img/hand-cursor-transparent.svg"), pointer; }

.about {
  padding-top: 120px; }
  .about__wrap {
    color: #474747; }
    .about__wrap__heading {
      grid-area: 3 / 1 / 4 / 7; }
      .about__wrap__heading__title {
        margin: 20px 0 20px 0; }
      .about__wrap__heading__flex {
        margin-top: 21px;
        display: flex; }
      .about__wrap__heading__letter {
        font-size: 50px;
        font-family: "LucidaGrande";
        line-height: 59px;
        font-weight: normal;
        margin-right: 7px; }
      .about__wrap__heading--after {
        margin-top: -5px;
        margin-bottom: 40px; }
      .about__wrap__heading__listItem {
        margin: 0 0 15px 25px; }
        .about__wrap__heading__listItem:before {
          height: 15px;
          width: 15px;
          background: url("../img/a-icon-checklist@2x.png") 0 0/53% 38% no-repeat;
          margin: 9px 0 0 -25px;
          padding: 15px; }
    .about__wrap__text {
      grid-area: 1 / 1 / 3 / 7; }
      .about__wrap__text__first {
        margin-bottom: 40px; }
      .about__wrap__text--red {
        color: #EC6767;
        font-family: "Lato-Bold"; }
      .about__wrap__text__quote {
        padding: 40px 60px 20px 57px;
        margin-top: 30px; }
        .about__wrap__text__quote:before {
          height: 30px;
          width: 30px;
          margin: -20px 0 0 -31px;
          background: url("../img/a-icon-quote@3x.svg") no-repeat; }
        .about__wrap__text__quote--red {
          border-left: 3px solid #EC6767; }
        .about__wrap__text__quote--blue {
          border-left: 3px solid #AAB6FF; }
        .about__wrap__text__quote--green {
          border-left: 3px solid #6BE4D5; }
    .about__wrap__list {
      grid-area: 2 / 8 / 4 / 10; }
      .about__wrap__list__title {
        margin-bottom: 19.5px; }
      .about__wrap__list__item {
        border-bottom: 1px dashed #CEC7C7;
        padding: 5px 5px 7px 29px;
        margin-bottom: 24px; }
        .about__wrap__list__item p:before {
          height: 15px;
          width: 15px;
          background: url("../img/a-icon-arrowlink-2@2x.png") 0 0/27% 45% no-repeat;
          padding: 15px;
          margin: 7px 0 0 -28px; }
        .about__wrap__list__item p:hover {
          color: #EC6767;
          cursor: url("../img/hand-cursor-transparent-black.svg"), pointer;
          fill: #474747; }
    .about__wrap__flickr {
      grid-area: 1 / 8 / 1 / 13; }
      .about__wrap__flickr__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        margin: 25px 0 30px 0; }
      .about__wrap__flickr__item {
        height: auto;
        width: 100%;
        grid-column: span 1;
        border: 1px solid #CEC7C7;
        padding: 12px; }

.contact {
  padding-top: 105px; }
  .contact__info {
    grid-column: var(--gridRight); }
    .contact__info__text {
      margin-top: 20px;
      margin-bottom: 50px; }
    .contact__info__item {
      display: flex;
      margin-bottom: 43px; }
      .contact__info__item_home:before {
        background: url("../img/a-icon-address@2x.png") left/24px auto no-repeat; }
      .contact__info__item_phone:before {
        background: url("../img/a-icon-phone@2x.png") left/24px auto no-repeat; }
      .contact__info__item_email:before {
        background: url("../img/a-icon-email@2x.png") left/24px auto no-repeat; }
      .contact__info__item__text {
        padding: 0 19px 0 20px;
        line-height: 15px; }
        .contact__info__item__text_phone:hover {
          color: #CF5858;
          cursor: url("../img/hand-cursor-transparent-black.svg"), pointer; }
        .contact__info__item__text:first-child {
          padding-left: 38px; }
        .contact__info__item__text:nth-child(2) {
          border-left: 1px solid #CEC7C7;
          border-right: 1px solid #CEC7C7; }
  .contact__form {
    grid-column: var(--gridLeft); }
    .contact__form__wrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: var(--gapGrid);
      margin-top: 40px; }
    .contact__form__button {
      margin-top: 1px;
      padding: 12px 81px;
      background-color: #EC6767;
      border: 1px solid #EC6767;
      color: #FFFFFF; }
      .contact__form__button:hover, .contact__form__button:focus {
        background-color: #CF5858;
        border: 1px solid #CF5858;
        cursor: url("../img/hand-cursor-transparent.svg"), pointer; }
      .contact__form__button:active {
        background-color: #B64747;
        border: 1px solid #B64747; }
    .contact__form__item {
      grid-column: span 3;
      margin-bottom: 5px; }
      .contact__form__item--big {
        grid-column: var(--gridLeft); }
      .contact__form__item--little {
        grid-column: span 2; }
      .contact__form__item__input {
        width: 100%;
        background-color: #FFFFFF;
        border: 1px solid #A6A6A6;
        color: #A6A6A6;
        padding: 12px 14px; }
        .contact__form__item__input:hover::placeholder {
          color: #838383; }
        .contact__form__item__input:hover {
          border: 1px solid #8F8D8D; }
        .contact__form__item__input:focus::placeholder {
          color: #474747; }
        .contact__form__item__input:focus {
          color: #474747;
          border: 1px solid #474747; }
        .contact__form__item__input--big {
          resize: none;
          overflow: auto;
          margin-top: 6px;
          height: 130px; }
      .contact__form__item__label {
        display: block;
        margin-bottom: 10px; }
    .contact__form__checkbox {
      grid-column: var(--gridLeft); }
      .contact__form__checkbox__wrap {
        display: flex;
        margin-top: 3px; }
      .contact__form__checkbox__input {
        display: none; }
        .contact__form__checkbox__input:checked + label:before {
          filter: brightness(0.4); }
      .contact__form__checkbox__label {
        padding-left: 35px; }
        .contact__form__checkbox__label:before {
          background-color: #FFFFFF; }
        .contact__form__checkbox__label:after {
          background-color: transparent;
          border: 1px solid #A6A6A6; }
    .contact__form__radio {
      grid-column: var(--gridLeft); }
      .contact__form__radio__title {
        margin-bottom: 21px; }
      .contact__form__radio__item {
        display: flex;
        color: #474747;
        margin-bottom: 22px; }
        .contact__form__radio__item:last-child {
          margin-bottom: 0; }
        .contact__form__radio__item__input {
          position: absolute;
          opacity: 0; }
          .contact__form__radio__item__input:hover + label:after, .contact__form__radio__item__input:focus + label:after {
            background-color: #DEDBDB; }
          .contact__form__radio__item__input:checked + label:after, .contact__form__radio__item__input:active + label:after {
            background-color: #474747; }
        .contact__form__radio__item__label {
          padding-left: 39px; }
          .contact__form__radio__item__label:before {
            height: 24px;
            width: 24px;
            left: 0;
            border: 1px solid #A6A6A6;
            border-radius: 50%; }

.footer {
  background-color: #474747;
  margin-top: 60px;
  overflow: hidden; }
  .footer__wrap {
    padding: 40px 0 28px 0; }
  .footer__about {
    grid-column: span 3; }
    .footer__about__title {
      color: #EC6767; }
    .footer__about__text {
      margin-top: 20px;
      color: #FFFFFF; }
      .footer__about__text_big {
        margin-top: 30px;
        text-transform: uppercase;
        color: #FFFFFF; }
    .footer__about__icon {
      display: flex;
      margin-top: 10px; }
      .footer__about__icon__item {
        margin-right: 5px;
        height: 30px;
        width: 30px; }
        .footer__about__icon__item_facebook {
          background: url("../img/a-icon-facebook@2x.png") center/auto 16px no-repeat; }
          .footer__about__icon__item_facebook:hover, .footer__about__icon__item_facebook:focus {
            background-image: url("../img/a-icon-facebook-hover@2x.png");
            cursor: url("../img/hand-cursor-transparent.svg"), pointer; }
          .footer__about__icon__item_facebook:active {
            background-image: url("../img/a-icon-facebook-active@2x.png"); }
        .footer__about__icon__item_twitter {
          background: url("../img/a-icon-twitter@2x.png") center/auto 16px no-repeat; }
          .footer__about__icon__item_twitter:hover, .footer__about__icon__item_twitter:focus {
            background-image: url("../img/a-icon-twitter-hover@2x.png");
            cursor: url("../img/hand-cursor-transparent.svg"), pointer; }
          .footer__about__icon__item_twitter:active {
            background-image: url("../img/a-icon-twitter-active@2x.png"); }
        .footer__about__icon__item_linkedin {
          background: url("../img/a-icon-linkedin@2x.png") center/auto 16px no-repeat; }
          .footer__about__icon__item_linkedin:hover, .footer__about__icon__item_linkedin:focus {
            background-image: url("../img/a-icon-linkedin-hover@2x.png");
            cursor: url("../img/hand-cursor-transparent.svg"), pointer; }
          .footer__about__icon__item_linkedin:active {
            background-image: url("../img/a-icon-linkedin-active@2x.png"); }
        .footer__about__icon__item_youtube {
          margin-left: -5px;
          background: url("../img/a-icon-youtube@2x.png") center/auto 16px no-repeat; }
          .footer__about__icon__item_youtube:hover, .footer__about__icon__item_youtube:focus {
            background-image: url("../img/a-icon-youtube-hover@2x.png");
            cursor: url("../img/hand-cursor-transparent.svg"), pointer; }
          .footer__about__icon__item_youtube:active {
            background-image: url("../img/a-icon-youtube-active@2x.png"); }
  .footer__item {
    margin-top: 12px;
    grid-column: span 2; }
    .footer__item__title {
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #FFFFFF; }
    .footer__item__link {
      display: flex;
      flex-direction: column;
      margin-top: 13px;
      font-size: 16px;
      line-height: 14px; }
      .footer__item__link:hover, .footer__item__link:focus {
        text-decoration: underline; }
