.footer {
  background-color: map-get($colors_PixelStudio, headerBackgroundColor);
  margin-top: 60px;
  overflow: hidden;


  &__wrap {
    @extend %maxWidth;
    @extend %grid;
    padding: 40px 0 28px 0;
  }

  &__about {
    grid-column: span 3;

    &__title {
      color: map-get($colors_PixelStudio, logoColor);
    }

    &__text {
      margin-top: 20px;
      color: map-get($colors_PixelStudio, navItemColor);

      &_big {
        margin-top: 30px;
        text-transform: uppercase;
        color: map-get($colors_PixelStudio, navItemColor);
      }
    }

    &__icon {
      display: flex;
      margin-top: 10px;

      &__item {
        margin-right: 5px;
        @include size(30px, 30px);

        &_facebook {
          @include icon("../img/a-icon-facebook@2x.png", "../img/a-icon-facebook-hover@2x.png", "../img/a-icon-facebook-active@2x.png");
        }

        &_twitter {
          @include icon("../img/a-icon-twitter@2x.png", "../img/a-icon-twitter-hover@2x.png", "../img/a-icon-twitter-active@2x.png");
        }

        &_linkedin {
          @include icon("../img/a-icon-linkedin@2x.png", "../img/a-icon-linkedin-hover@2x.png", "../img/a-icon-linkedin-active@2x.png");
        }

        &_youtube {
          margin-left: -5px;
          @include icon("../img/a-icon-youtube@2x.png", "../img/a-icon-youtube-hover@2x.png", "../img/a-icon-youtube-active@2x.png");
        }
      }
    }
  }

  &__item {
    margin-top: 12px;
    grid-column: span 2;

    &__title {
      text-transform: uppercase;
      margin-bottom: 30px;
      color: map-get($colors_PixelStudio, navItemColor);
    }

    &__link {
      @extend %reletive;
      display: flex;
      flex-direction: column;
      margin-top: 13px;
      font-size: 16px;
      line-height: 14px;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

  }
}
