header {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: map-get($colors_PixelStudio, headerBackgroundColor);
  overflow: hidden;

  .wrapHeader {
    @extend %maxWidth;
    @extend %flexSpaceBetween;

    &__logo {
      display: flex;

      &__img {
        margin: 17px 20px 17px 0;
        @include size(66px, 66px);
      }

      &__title {
        margin-top: 33px;
        color: map-get($colors_PixelStudio, logoColor);
      }
    }

    &__row {
      align-items: flex-end;
      display: flex;
      margin-right: -10px;
    }

    &__item {
      margin: 37px 0 0 25.5px;

      &__link {
        color: map-get($colors_PixelStudio, navItemColor);
        padding: 10px;

        &:hover,
        &:focus {
          border-bottom: 2px solid map-get($colors_PixelStudio, navItemHoverColor);
        }

        &--active {
          border-bottom: 2px solid map-get($colors_PixelStudio, navItemColor);
        }
      }
    }
  }
}
