%beforeInfo {
  @extend %pseudo-element;
  @include size(40px, 40px);
  @include position(0, -14px);
}

%checkBox {
  @extend %pseudo-element;
  @include size(24px, 24px);
  @include position(0, -1px);
  text-align: center;
}

%checklist {
  background: url("../img/a-icon-checklist@2x.png") center/auto 12px no-repeat;
  content: '';
}

%flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}


%grid {
  display: grid;
  grid-template-columns: repeat(var(--columnGrid), 1fr);
  grid-gap: var(--gapGrid);
}

%maxWidth {
  margin: 0 auto;
  max-width: var(--widthGrid);
}

%pseudo-element {
  content: '';
  position: absolute;
}

%radioButtons {
  @extend %pseudo-element;
  @include size(16px, 16px);
  @include position(4px, 4px);
  border-radius: 50%;
  opacity: 1;
}

%reletive {
  position: relative;
}


