@mixin backgroundBorder($colorBackground, $colorBorder) {
  background-color: $colorBackground;
  border: 1px solid $colorBorder;
}

@mixin custom-grid($column) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
  grid-gap: var(--gapGrid);
}

@mixin font($size,$family, $line-height, $weight) {
  font-size: $size;
  font-family: $family;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin icon($network, $hover,$active) {
  background: url($network) center/auto 16px no-repeat;

  &:hover,
  &:focus {
    background-image: url($hover);
    cursor: url("../img/hand-cursor-transparent.svg"), pointer;
  }

  &:active {
    background-image: url($active);
  }
}

@mixin position($left,$top) {
  left: $left;
  top: $top;
}

@mixin pointHeader($paddingLeft, $left, $background, $size) {
  padding-left: $paddingLeft;
  &:before {
    @extend %pseudo-element;
    @include size(40px, 40px);
    left: $left;
    top: -4px;
    background: url($background) center/auto $size no-repeat;
  }
}

@mixin size($height,$width) {
  height: $height;
  width: $width;
}
