$colors_PixelStudio: (
        logoColor:#EC6767,
        navItemColor:#FFFFFF,
        navItemHoverColor: #CEC7C7,
        headerBackgroundColor:#474747,
        quoteRed:#EC6767,
        quoteBlue: #AAB6FF,
        quoteGreen:#6BE4D5,
        h4Color:#CF5858,
        activeButton:#B64747,
        input:#A6A6A6,
        inputHoverPlaceholder:#838383,
        inputHover:#8F8D8D,
        radioButton:#DEDBDB
);

:root {
  --gridLeft: span 6;
  --gridRight: 8/span 5;
  --widthGrid: 1420px;
  --gapGrid: 20px;
  --columnGrid: 12;
}
